fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
transformers
torch
torchvision
torchaudio
accelerate
llama-cpp-python
scipy
pillow
requests
redis
pymongo
motor
passlib
python-jose
bcrypt
pyjwt
loguru
httpx 
bitsandbytes
peft
datasets
sentencepiece
huggingface_hub
genson
python-jose[cryptography]
python-multipart
aioboto3
structlog
starlette-context
werkzeug
autoflake
isort
black
vulture
pybloom-live
numpy